.header{
}

div.downtheheader{
  background: #fff;
  display:block;
}

.back{
  margin-top: 30px;
  margin-left: 48px;

}

.gs{
font-family: HelveticaNeue-Bold;
font-size: 14px;
color: #3D70B2;
letter-spacing: 0;
line-height: 18px;
margin-top: 26px;
margin-left: 8px;
}

#gettingstarted{
list-style-type: none;
}

.tutorialtitle{
font-family: HelveticaNeue-Light;
padding-top: 51px;
font-size: 32px;
color: #5A6872;
letter-spacing: 0.27px;
line-height: 40px;
}

#intro{
  margin-top:214px;
  font-family: HelveticaNeue-Light;
  font-size: 40px;
  color: #2D3F49;
  letter-spacing: 1.2px;
  line-height: 54px;
}

#summary{
  font-family: HelveticaNeue-Medium;
  font-size: 22px;
  color: #152935;
  line-height: 24px;
  margin-top:40px;
}

#summarydesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
}

#project{
  font-family: HelveticaNeue-Light;
  font-size: 26px;
  color: #152935;
  line-height: 32px;
  margin-top:40px
}

#projectdesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  margin-top:12px;
  width:858px;
  height: 48px;
}

#tabletitle{
font-family: HelveticaNeue-Medium;
font-size: 18px;
color: #152935;
line-height: 24px;
padding-bottom: 11px;
}

#contents{
font-family: HelveticaNeue;
font-size: 16px;
color: #152935;
line-height: 24px;
padding-bottom:12px;
}

ul li {
    color: #8C9BA5;
    list-style-type: disc;
}

ul li span {
    color: black;
}

#internet{
opacity: 0.8;
font-family: HelveticaNeue-Medium;
font-size: 16px;
color: #0F212E;
line-height: 24px;
width:429px;
height: 24px;
padding-top: 19px;
}

#internettable{
opacity: 0.4;
background: #7CC7FF;
border-radius: 3px;
margin-top: 20px
width:858px;
height: 72px;

}

#square
{
  margin-top: 20px;
  background: rgba(0,0,0,0.36);
  width:858px;
  height: 629px;
}

