.bodybackground{
  background-color: #F5F7FA;
}

.header{
  background: #152934;
}

#apiconnect{
  padding-top:21px;
  line-height:24px;
  opacity:0.69;
  font-family:HelveticaNeue-Medium;
  font-size: 18px;
  color:#FFFFFF;
  letter-spacing:0;
}

#headeroptionsright{
  padding-top:24px;
  font-family:HelveticaNeue-Bold;
  font-size:14px;
  color:#FFFFFF;
}

div.downtheheader{
  background: #fff;
  padding: 30px;
}

.back{
  float: left;
  margin-right: 8px;
}

.gs{
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #3D70B2;
  letter-spacing: 0;
  line-height: 18px;
}

#gettingstarted{
  display: inline-flex;
}

.tutorialtitle{
  font-family: HelveticaNeue-Light;
  margin-top: 7px;
  font-size: 32px;
  color: #5A6872;
  letter-spacing: 0.27px;
  line-height: 40px;
  margin-left: 27px;
  align:left;
}

.table{
  padding-left: 0;
}

span.line{
    position : absolute;
    border :  solid #8C9BA5;
    width: 2px;
    height: 187px;
    opacity: 0.14;
    margin-left: 12px;
    margin-top: 10px;
}

.row{
  margin: 27px 53px 0;
}

#intro{
  font-family: HelveticaNeue-Light;
  font-size: 40px;
  color: #2D3F49;
  letter-spacing: 1.2px;
  line-height: 54px;
}

#summary{
  font-family: HelveticaNeue-Medium;
  font-size: 22px;
  color: #152935;
  line-height: 24px;
  margin-top:40px;
}

#summarydesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
}

#project{
  font-family: HelveticaNeue-Light;
  font-size: 26px;
  color: #152935;
  line-height: 32px;
  margin-top:40px
}

#projectdesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  margin-top:12px;
  min-height: 48px;
}

#tabletitle{
  font-family: HelveticaNeue-Medium;
  font-size: 18px;
  color: #152935;
  line-height: 24px;
  margin-bottom:12px;
  margin-top: 25px;
}

#contentsselected{
  color: #5AAAFA;
  list-style-type: disc;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom:13px;
  margin-left: 30px;
}

#contents{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  padding-bottom:12px;
  margin-left: 30px;
}

ul li {
    color: #8C9BA5;
    list-style-type: disc;
}

ul li span {
    color: black;
}

#wifi{
  margin-top: 19px;
  margin-left: 20px;
  font-family: MaterialIcons-Regular;
  font-size: 18px;
  color: #42535C;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 12px;
  float: left;
}

#internet{
  opacity: 0.8;
  font-family: HelveticaNeue-Medium;
  font-size: 16px;
  color: #0F212E;
  line-height: 24px;
  padding-top: 19px;
}

.internetdiv{
  opacity: 0.4;
  background: #7CC7FF;
  border-radius: 3px;
  margin-top: 20px;
  height: 72px;
}

#square
{
  margin-top: 20px;
  background: rgba(0,0,0,0.36);
  min-height: 629px;
}

.nextstep{
  display: inline-flex; 
  padding-top: 41px;
  float: right;
  clear: both;
}

#next{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  padding-right: 4px;
}

#navigate{
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  color: #5596E6;
  line-height: 24px;
}

.proposechangediv{
  margin-top: 127px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 #E0E5E7;
  min-height: 121px;
  text-align: center;
  justify-content: center;
  padding: 40px;
}

.githubdiv{
  display: inline-flex;
}

#git{
  margin-right: 12px;
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

#iffixing{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
}

.changesourcediv{
  display: inline-flex;
}

#propose{
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #5A6872;
}

.downloadbar{
  margin-top: 40px;
  background: #3D70B2;
  align-items: center;
  justify-content: center;
  padding-top: 72px;
  min-height: 198px;
  display: flex;
  padding-bottom: 72px;
}

.contentdownload{
  display: inline-flex;
}

#installinstruction{
  font-family: HelveticaNeue-Light;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 0.96px;
  line-height: 54px;
  margin-right: 63px;
}

#downloadbutton{
  background: #FFFFFF;
}

.footer{
  min-height: 152px;
  padding: 64px;
}

#footertext{
  margin-left: 32px;
  font-family: HelveticaNeue;
  font-size: 14px;
  color: #5A6872;
  line-height: 24px;
}