.bodybackground{
  background-color: #EEF0F2;
}

.header{
  background: #152934;
}

#apiconnect{
  padding-top:21px;
  line-height:24px;
  opacity:0.69;
  font-family:HelveticaNeue-Medium;
  font-size: 18px;
  color:#FFFFFF;
  letter-spacing:0;
}

#headeroptionsright{
  padding-top:24px;
  font-family:HelveticaNeue-Bold;
  font-size:14px;
  color:#FFFFFF;
}

div.downtheheader{
  background: #fff;
  display:block;

}

.back{
  margin-top: 30px;
  margin-left: 48px;

}

.gs{
  font-family: HelveticaNeue-Bold;
  font-size: 14px;
  color: #3D70B2;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 26px;
  margin-left: 8px;
}

#gettingstarted{
  list-style-type: none;
}

.tutorialtitle{
  font-family: HelveticaNeue-Light;
  margin-top: 7px;
  font-size: 32px;
  color: #5A6872;
  letter-spacing: 0.27px;
  line-height: 40px;
  margin-left: 72px;
  align:left;
}

#table{
  padding-left: 0;
}

.row{
  margin: 27px 55px 0;
}

#intro{
  font-family: HelveticaNeue-Light;
  font-size: 40px;
  color: #2D3F49;
  letter-spacing: 1.2px;
  line-height: 54px;

}

#summary{
  font-family: HelveticaNeue-Medium;
  font-size: 22px;
  color: #152935;
  line-height: 24px;
  margin-top:40px;
}

#summarydesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
}

#project{
  font-family: HelveticaNeue-Light;
  font-size: 26px;
  color: #152935;
  line-height: 32px;
  margin-top:40px
}

#projectdesc{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  margin-top:12px;
  min-height: 48px;
}

#tabletitle{
  font-family: HelveticaNeue-Medium;
  font-size: 18px;
  color: #152935;
  line-height: 24px;
  margin-bottom:12px;
  margin-top: 25px;
}

#contentsselected{
  color: #5AAAFA;
  list-style-type: disc;
  font-family: HelveticaNeue-Bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom:13px;
  margin-left: 30px;
}

#contents{
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #152935;
  line-height: 24px;
  padding-bottom:12px;
  margin-left: 30px;
}

ul li {
    color: #8C9BA5;
    list-style-type: disc;
}

ul li span {
    color: black;
}

.wifi{
  margin-top: 19px;
  margin-left: 20px;
  font-family: MaterialIcons-Regular;
  font-size: 18px;
  color: #42535C;
  letter-spacing: 0;
  line-height: 18px;
  margin-right: 12px;
  float: left;
}

.internet{
  opacity: 0.8;
  font-family: HelveticaNeue-Medium;
  font-size: 16px;
  color: #0F212E;
  line-height: 24px;
  padding-top: 19px;
}

#internettable{
  opacity: 0.4;
  background: #7CC7FF;
  border-radius: 3px;
  margin-top: 20px;
  height: 72px;
}

#square
{
  margin-top: 20px;
  background: rgba(0,0,0,0.36);
  min-height: 629px;
}

