<div class="col-md-4">
  <ul class="table">
  <p  id="tabletitle"><a href="/Microservices.html">Creating microservices</a></p>
  <span class='line'></span>
{% include navitem.html
  page="microservice-1"
  text="Create a new project"
  current=page.url
%}

{% include navitem.html
  page="microservice-2"
  text="Create a new data source"
  current=page.url
%}

{% include navitem.html
  page="microservice-3"
  text="Create a new model"
  current=page.url
%}

{% include navitem.html
  page="microservice-4"
  text="Add properties to the model"
  current=page.url
%}

{% include navitem.html
  page="microservice-5"
  text="Run project and try out API"
  current=page.url
%}
</ul>
</div>
